

<!-- Open Graph Tags -->
<meta property="og:title" content="About Us | Alberta Tech Solutions">
<meta property="og:description" content="Discover Alberta Tech Solutions (ATS), a leader in advanced technology solutions across Canada since 2009. Specializing in smart home automation and IT services for elite clients.">
<meta property="og:image" content="{{ '/img/logo.png' | relative_url }}">
<meta property="og:url" content="{{ page.url | relative_url }}">
<meta property="og:type" content="website">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="About Us | Alberta Tech Solutions">
<meta name="twitter:description" content="Discover Alberta Tech Solutions (ATS), a leader in advanced technology solutions across Canada since 2009. Specializing in smart home automation and IT services for elite clients.">
<meta name="twitter:image" content="{{ '/img/logo.png' | relative_url }}">

<section id="aboutus" class="main style1 dark fullscreen">
    <div class="content">
        <header>
            <h2>Inn to the Lake</h2>
        </header>
        <p>Welcome to <strong>Inn to the Lake</strong>a cozy BnB nestled by the scenic shores of <a href="https://en.wikipedia.org/wiki/Skaha_Lake">Lake Skaha</a><br />
            in Penticton. Relax, unwind, and enjoy stunning views in our charming lakeside <a href="https://www.airbnb.ca/rooms/1240596896571959012?adults=1&children=0&enable_m3_private_room=true&infants=0&pets=0&search_mode=regular_search&check_in=2024-12-17&check_out=2024-12-22&source_impression_id=p3_1732491570_P3KNh5dYTT9tQJYP&previous_page_section_name=1000&federated_search_id=ec2bc3c2-be23-4ca6-a14e-040abd5b5f07">getaway</a>.</p>
        <footer>
            <a href="#one" class="button style2 down">More</a>
        </footer>
    </div>
</section>


		


<!-- Open Graph Tags -->
<meta property="og:title" content="About Us | Alberta Tech Solutions">
<meta property="og:description" content="Discover Alberta Tech Solutions (ATS), a leader in advanced technology solutions across Canada since 2009. Specializing in smart home automation and IT services for elite clients.">
<meta property="og:image" content="{{ '/img/logo.png' | relative_url }}">
<meta property="og:url" content="{{ page.url | relative_url }}">
<meta property="og:type" content="website">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="About Us | Alberta Tech Solutions">
<meta name="twitter:description" content="Discover Alberta Tech Solutions (ATS), a leader in advanced technology solutions across Canada since 2009. Specializing in smart home automation and IT services for elite clients.">
<meta name="twitter:image" content="{{ '/img/logo.png' | relative_url }}">
